<!-- <nav class="navbar navbar-expand-md bg-body-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><i class="fa-solid fa-location-dot"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/categories/Action">Action</a>
        <a class="nav-link" href="/categories/Adventure">Adventure</a>
        <a class="nav-link" href="/categories/Arcade">Arcade</a>
        <a class="nav-link" href="/categories/Girls">Girls</a>
        <a class="nav-link" href="/categories/Boys">Boys</a>
        <a class="nav-link" href="/categories/Racing">Racing</a>
        <a class="nav-link" href="/categories/Shooting">Shooting</a>
        <a class="nav-link" href="/categories/Bejeweled">Bejeweled</a>
        <a class="nav-link" href="/categories/Clicker">Clicker</a>
        <a class="nav-link" href="/categories/Cooking">Cooking</a>
        <a class="nav-link" href="/categories/Multiplayer">Multiplayer</a>
        <a class="nav-link" href="/categories/Sports">Sports</a>
        <a class="nav-link" href="/categories/3D">3D</a>
        <a class="nav-link" href="/categories/StickMan">StickMan</a>
      </div>
    </div>
  </div>
</nav> -->
<nav class="navbar navbar-expand-md sticky-top">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavAltMarkup"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <table align="center" cellspacing="2" border="0" cellpadding="2"  style="margin-left: 0px; margin-right: auto; width: calc(100%-200px);">
    <tr align="center" class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <td>
        <a class="game-icon" href="/"
          ><i class="fa-solid fa-gamepad" style="color: #b197fc"></i>
        </a>
      </td>
      <td><a class="nav-link" href="/categories/Action">Action</a></td>
      <td><a class="nav-link" href="/categories/Adventure">Adventure</a></td>
      <td><a class="nav-link" href="/categories/Arcade">Arcade</a></td>
      <td><a class="nav-link" href="/categories/Girls">Girls</a></td>
      <td><a class="nav-link" href="/categories/Boys">Boys</a></td>
      <td><a class="nav-link" href="/categories/Racing">Racing</a></td>
      <td><a class="nav-link" href="/categories/Shooting">Shooting</a></td>
      <td><a class="nav-link" href="/categories/Clicker">Clicker</a></td>
      <td><a class="nav-link" href="/categories/Cooking">Cooking</a></td>
      <td>
        <a class="nav-link" href="/categories/Multiplayer">Multiplayer</a>
      </td>
      <td><a class="nav-link" href="/categories/Sports">Sports</a></td>
      <td><a class="nav-link" href="/categories/Puzzle">Puzzle</a></td>
      <td>
        <a class="nav-link" href="/categories/Hypercasual">HyperCasual</a>
      </td>
      <td><a class="nav-link" href="/categories/3D">3D</a></td>
      <td><a class="nav-link" href="/categories/StickMan">StickMan</a></td>
      <td><a class="nav-link" href="/categories/">Random</a></td>
    </tr>
  </table>
</nav>
